cartopy=0.20.2
dash=2.3.1
dash-bootstrap-components=1.1.0
flask=2.1.1
flask-compress=1.11
fsspec=2022.3.0
gdal=3.4.2
geos=3.10.2
geotiff=1.7.1
h5netcdf=1.0.0
h5py=3.6.0
hdf4=4.2.15
hdf5=1.12.1
matplotlib=3.5.1
matplotlib-base=3.5.1
metpy=1.3.0
netcdf4=1.5.8
numpy=1.22.3
pandas=1.4.2
plotly=5.7.0
proj=9.0.0
#python=3.8.13
#python-dateutil=2.8.2
#python-fastjsonschema=2.15.3
#python_abi=3.8
requests=2.27.1
rtree=1.0.0
s3fs=2022.3.0
shapely=1.8.0
six=1.16.0
toml=0.10.2
xarray=2022.3.0